<div class="intro-body">
  <div class="container-fluid">
    <div class="col-12"> <div class="vertical-spacer"> </div> </div>
    <div class="row">
      <div class="col-md-5 offset-md-1 col-sm-12">
        <div class="row">
          <div class="col-12">
              <img class="logo" src="/img/logo.practica_blue.gif"/>
          </div>
          <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          <div class="title col-12">
              A personal English coach on your phone, helping you speak better English every day
          </div>
          <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          <div class="subtitle col-12">
              Sign up today to get 1 month free
          </div>

          <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
          <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>

          <div class="col-12">
            <a class="btn btn-primary" href="https://prabhasp.typeform.com/to/qbF0Hj" data-mode="popup" data-hide-headers=true data-hide-footer=true target="_blank">Sign up! </a>
            <script> (function() { var qs,js,q,s,d=document, gi=d.getElementById, ce=d.createElement, gt=d.getElementsByTagName, id="typef_orm_share", b="https://embed.typeform.com/"; if(!gi.call(d,id)){ js=ce.call(d,"script"); js.id=id; js.src=b+"embed.js"; q=gt.call(d,"script")[0]; q.parentNode.insertBefore(js,q) } })() </script>
          </div>
          </div>
          <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          <div class="hidden-sm-down dim">
            <img src="/img/icon.Stanford.png" /> Developed at Stanford University </img>
          </div>
        </div>

        <div class="col-md-6 col-sm-12">
          <div class="row"> <div class="mini-vertical-spacer"> </div> </div>
          <div class="row"> <div class="mini-vertical-spacer"> </div> </div>
          <div class="row">
            <div class="col-12"> <img class="big-gif" src="/img/practica-1-2-3.gif"/> </div>
          </div>
          <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          <div class="hidden-md-up dim col-12">
            <img src="/img/icon.Stanford.png" /> Developed at Stanford University </img>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
        </div>
      </div>


      <div class="row on-blue">
        <div class="col-12"> <div class="vertical-spacer"> </div> </div>
        <h2 class="col-12 center">
          What's included?
        </h2>
        <div class="col-10 offset-1">
          <div class="row">
          <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
          <div class="col-md-4 col-sm-12 center floater">
            <img class="floater-icon" src="/img/icon.phonevideo.gif" />
            <h4 class="center"> Customized Learning </h4>
            <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
            <div class="floater-body">
              Get content & activities customized to your English level, daily schedule, and language goals.
            </div>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
          <div class="col-md-4 col-sm-12 center floater">
            <img class="floater-icon" src="/img/icon.coachwithmic.gif" />
            <h4 class="center"> 1 on 1 Coaching </h4>
            <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
            <div class="floater-body">
              Get personalized  feedback from a trained English language coach. All of our coaches are native speakers.
            </div>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
          <div class="col-md-4 col-sm-12 center floater">
            <img class="floater-icon" src="/img/icon.texts.gif" />
            <h4 class="center"> Practical Content </h4>
            <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
            <div class="floater-body">
              Learn American English that you can start using today!
            </div>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col-12"> <div class="vertical-spacer"> </div> </div>
        <h2 class="col-12 center blue">
          What Our Customers Say
        </h2>
        <div class="col-10 offset-1">
          <div class="row">
          <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          <div class="col-md-5 offset-1 col-sm-10 center floater">
            <img class="floater-icon" src="/img/headshot.celine.gif" />
            <br/> <i> Celine, from Brazil </i>
            <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
            <div class="floater-body">
              "This experience is incredible. After I started the program, I no longer feel shy to speak. Even if I make a mistake, I try to speak… I already feel better and words come more easily in my head."
            </div>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
          <div class="col-md-5 offset-1 col-sm-10 center floater">
            <img class="floater-icon" src="/img/headshot.elena.gif" />
            <br/> <i> Sanu, from Nepal </i>
            <div class="col-12"> <div class="mini-vertical-spacer"> </div> </div>
            <div class="floater-body">
              <b>Before:</b> "I know the words, but when I try to speak, they don't come out. So... nevermind." <br/>
              <b>After:</b> "The other day, a co-worker asked me: how come you are so talkative all of a sudden?"
            </div>
            <div class="col-12"> <div class="vertical-spacer"> </div> </div>
          </div>
          </div>
        </div>
      </div>

      <div class="row on-blue">
        <div class="col-12"> <div class="vertical-spacer"> </div> </div>
        <div class="col-md-4 offset-md-4 col-sm-6 offset-sm-3">
          <img class="logo" style="width: 100%" src="/img/logo.practica_white.gif"/>
        </div>
        <div class="col-12"> <div class="vertical-spacer"> </div> </div>
      </div>

    </div>
</div>
